* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.primary-font {
    font-family: "Metropolis";
    font-weight: 400;
    font-style: Light;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
}

.promo-bar__wrapper {
    width: 100%;
    background-color: #47192f;
}

.promo-bar__cover {
    display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
}

.promo-bar__wrapper .item {
    flex: 1;
}

.promo-bar__wrapper p {
    font-family: "Metropolis";
    font-weight: 400;
    font-style: Light;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #ffffff;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit {
    padding-top: 83px;
    padding-bottom: 80px;
}

.benefit-wrapper {
}

.benefit .cover {
    display: flex;
}

.benefit .info {
    width: 50%;
    padding-right: 8%;
}

.benefit .info h1 {
    font-family: "Playfair Display";
    font-weight: 500;
    font-style: Medium;
    font-size: 50px;
    line-height: 122%;
    letter-spacing: 0%;
    color: #1e3f40;
    padding-bottom: 20px;
}

.benefit .info p {
    font-family: "Metropolis";
    font-weight: 400;
    font-style: Light;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #3a3a3a;
}

.benefit .info > p {
    padding-bottom: 25px;
}

.benefit .media {
    width: 50%;
}

.benefit .media img {
    width: 100%;
    display: block;
}

.benefit .benefit-accordion b {
    font-family: "Metropolis";
    font-weight: 600;
    font-style: Bold;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
}

.benefit .benefit-accordion p {
    font-size: 18px;
}

.benefit .accordion-item {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 5px;
    background-color: #f5f4ed;
    border-left: 3px solid #B9644C;
}

.benefit .accordion-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit .accordion-item img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
}

.benefit .accordion-item .content {
    width: 100%;
}

.benefit .accordion-item .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefit .accordion-item .description {
    display: none;
}

.benefit .accordion-item span {
    color: #b9644c;
    font-size: 25px;
    padding-right: 20px;
}

.benefit .accordion-item .plus {
    display: inline-block;
}

.benefit .accordion-item .minus {
    display: none;
}

.benefit .accordion-item.active .plus {
    display: none;
}

.benefit .accordion-item.active .minus {
    display: inline-block;
}

.benefit .accordion-item.active .description {
    display: block;
}

.benefit .accordion-item.active img {
    width: 80px;
    height: 80px;
}